h1{
  font-size: 70px;
  color: #bb9aa4;
}

h5, p {color: #bb9aa4;}



.recipe_container{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.ingredients_box{
  min-width: 200px;
  min-height: 100px;
  margin: 20px;
  text-align: left; 
}

