@import url('./styles/Home.css');
@import url('./styles/Login.css');
@import url('./styles/ShowRecipe.css');
 
.App {
  text-align: center;
}

.container{
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
} 

.content{
  margin: 0 auto;
  width: 80%;
  margin-top: 100px;
}

.column{
  display:flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-around;
  text-align: left;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:100%;
  height:100%;
}

input, select{
  margin-bottom: 10px;
  width: 100%;
  height:20px;
  border: none;
  border-bottom: 1px solid #bb9aa4;
  color: #bb9aa4;
  margin-bottom: 30px;
}

input:focus{
  outline: none;
  border-bottom: 1px solid pink;
}

input[type=file]{
  border: none;
}

select:focus{
  outline: none;
  border-bottom: 1px solid pink;
}

.button{
  padding: 10px;
  border: 2px solid white;
  color: #bb9aa4;
  cursor: pointer;
  margin: 10px;
  background-color: #bb9aa4;
  color: white;
}

.button:hover{
  background-color: white;
  border: 2px solid white;
  color: #bb9aa4;
}

@media only screen and (max-width: 1200px){
  .content{width: 100%}
}